variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RACE_SESSION_TEST:
    value: None
    options:
      - None
      - 2025/2025-07-27_Belgian_Grand_Prix/2025-07-27_Race/
      - 2025/2025-07-27_Belgian_Grand_Prix/2025-07-26_Sprint/
      - 2025/2025-07-06_British_Grand_Prix/2025-07-06_Race/
      - 2025/2025-04-06_Japanese_Grand_Prix/2025-04-06_Race/
      - 2024/2024-12-08_Abu_Dhabi_Grand_Prix/2024-12-08_Race/
      - 2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-03_Race/
      - 2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-02_Sprint/
    description: "Race session for running test"
  QUALI_SESSION_TEST:
    value: None
    options:
      - None
      - 2025/2025-07-27_Belgian_Grand_Prix/2025-07-26_Qualifying/
      - 2025/2025-07-27_Belgian_Grand_Prix/2025-07-25_Sprint_Qualifying/
      - 2025/2025-07-06_British_Grand_Prix/2025-07-05_Qualifying/
      - 2025/2025-04-06_Japanese_Grand_Prix/2025-04-05_Qualifying/
      - 2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-02_Qualifying/
      - 2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-01_Sprint_Qualifying/
    description: "Quali session for running test"
  FP_SESSION_TEST:
    value: None
    options:
      - None
      - 2026/2026-02-13_Pre-Season_Testing/2026-02-11_Day_1/
      - 2025/2025-07-27_Belgian_Grand_Prix/2025-07-25_Practice_1/
      - 2025/2025-07-06_British_Grand_Prix/2025-07-05_Practice_3/
      - 2025/2025-07-06_British_Grand_Prix/2025-07-04_Practice_2/
      - 2025/2025-07-06_British_Grand_Prix/2025-07-04_Practice_1/
      - 2025/2025-04-06_Japanese_Grand_Prix/2025-04-05_Practice_3/
      - 2025/2025-04-06_Japanese_Grand_Prix/2025-04-04_Practice_2/
      - 2025/2025-04-06_Japanese_Grand_Prix/2025-04-04_Practice_1/
      - 2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-01_Practice_1/
    description: "Free Practice session for running test"
  TEST_ARCH:
    value: all
    options:
      - all
      - amd64
      - arm64
    description: "Architecture to be tested"

cache: []

stages:
  - review
  - build
  - test
  - report
  - deploy
  - release

include:
  # Include all job definitions except scheduled jobs
  - local: 'gitlab-ci.d/**.yml'
    rules:
      - if: '$CI_PIPELINE_SOURCE != "schedule"'
  # Include scheduled jobs only for scheduled pipelines
  - local: 'gitlab-ci.d/scheduled-job.yml'
    rules:
      - if: '$CI_PIPELINE_SOURCE == "schedule"'
  # Automated code review using Gemini
  - project: 'CSniper/ci-mgmt'
    file: 'code-review.yml'
    ref: 'main'
