# Control api speed
MESSAGE_GAP=0.01

# Recommended Test Caese

# Brazil 2024
#SESSION_PATH=2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-01_Practice_1/
#SESSION_PATH=2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-01_Sprint_Qualifying/
#SESSION_PATH=2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-02_Sprint/
#SESSION_PATH=2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-02_Qualifying/
SESSION_PATH=2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-03_Race/